<div class="border-b-2 border-gray-200 mx-8 mt-8">
  <h2 class="flex max-w-fit pr-4 mb-4 text-xl">
    {{ player() }}
    <span
      class="ml-4 transition-all"
      [class.scale-150]="shouldAnimate()"
      [class.animate-pulse-fast]="shouldAnimate()"
      matBadgeDescription="points"
      [matBadge]="playerScore()"
      matBadgeSize="large"
    ></span>
  </h2>
</div>
@if (playerData() && !loading()) {
<app-card-content
  class="grid"
  [data]="playerData()!"
  [type]="type()"
></app-card-content>
} @else if (loading()) {
<app-loading-card></app-loading-card>
} @else {
<div class="m-8 py-8 text-center text-2xl">
  <p>Couldn't get data :(</p>
</div>
}
