<div class="flex flex-col sm:grid grid-details justify-center gap-5">
  <mat-card appearance="outlined">
    <app-card
      [type]="gameType"
      player="Player 1"
      [playerData]="player1Data"
      [playerScore]="player1Score"
      [loading]="loading"
      [shouldAnimate]="whichPlayerWon() === GameResultEnum.PLAYER1"
    ></app-card>
  </mat-card>
  <mat-card appearance="outlined">
    <app-card
      [type]="gameType"
      player="Player 2"
      [playerData]="player2Data"
      [playerScore]="player2Score"
      [loading]="loading"
      [shouldAnimate]="whichPlayerWon() === GameResultEnum.PLAYER2"
    ></app-card>
  </mat-card>
</div>

<div class="flex flex-col sm:flex-row justify-center mx-auto my-8 pb-8 gap-5">
  <button mat-flat-button (click)="fetchData()" [disabled]="loading">
    Fetch {{ gameType | uppercase }}
  </button>
  <button mat-stroked-button (click)="clearScore()" [disabled]="loading">
    Clear Score
  </button>
</div>
